{%extends 'home/base.html'%}

{%block content%}
<div class="center-panel">
    <form method="post" class="form-card">
        {% csrf_token %}
        <h2 class="text-center">Reset Password</h2>
        {% for field in form %}
            <label class="label">{{ field.label_tag }}</label>
            {{ field }}
            {% if field.errors %}
                <small>{{ field.errors|striptags  }}</small> 
            {% endif %}
        {% endfor %}
        <div class="form-buttons">
            <input type="submit" value="Send" class="btn btn-primary">
            <a href="{%url 'login' %}"  class="btn btn-outline">Cancel</a>
        </div>
    </form>
</div>
{%endblock content%}