{%extends 'home/base.html'%}

{%block content%}
<div class="center-panel">
    <form method="post" novaldiate class="form-card">
        {% csrf_token %}
        <h2 class="text-center">Create your account</h2>
        {% for field in form %}
            <label class="label">{{ field.label_tag }}</label>
            {{ field }}
            {% if field.errors %}
                <small class="error">{{ field.errors|striptags  }}</small> 
            {% endif %}
        {% endfor %}
        <input type="submit" value="Register" class="btn btn-primary full-width">
        <hr>
        <p class="text-center">Already have an account? <a href="{% url 'login'%}">Login Here</a></p>
    </form>
</div>
{%endblock content%}