{%extends 'home/base.html'%}

{%block content%}

<div class="center-panel">
	<h2>Departments</h2>
	<hr>
	<div  class="list-controls">
		<a href="{% url 'department-create' %}"><i class="bi bi-plus-circle"></i> Create</a>
	</div>
	{% if departments %}
	<ul class="list">
		{% for department in departments %}
			<li>{{ department.name }}
				 <div  class="list-controls">
				 	<a href="{%url 'department-delete' department.id %}"><i class="bi bi-trash"></i> </a>
					<a href="{%url 'department-update' department.id %}"><i class="bi bi-pencil-square"></i></a>
		         </div>
		    </li>
		{% endfor %}
	{% endif %}
	</ul>
</div>
{%endblock content%}