{%extends 'home/base.html'%}

{%block content%}

<div class="center">
	<h2>Employees</h2>
	<hr>
	<div  class="list-controls">
		<a href="{% url 'employee-create' %}"><i class="bi bi-plus-circle"></i> Create</a>
	</div>
	{% if employees %}
	<ul class="list">
		{% for employee in employees %}
			<li>{{ employee.name }} {{ employee.surname }}
				 <div  class="list-controls">
				 	<a href="{%url 'employee-delete' employee.id %}"><i class="bi bi-trash"></i> </a>
					<a href="{%url 'employee-update' employee.id %}"><i class="bi bi-pencil-square"></i></a>
		         </div>
		    </li>
		{% endfor %}
	{% endif %}
	</ul>
</div>
{%endblock content%}