{% extends 'base.html' %}
    {% block content %}
    {% load static %}
    <div class="col-10 col-s-10">
        <div class="sheet-container">
            <div class="sheet-row">
                <div class="sheet-data-col">
                    <div class="sheet-data-text">{{ message }}</div>
                </div>
            </div>
            <div class="sheet-row">
                <div class="sheet-image-col">
                    <div class="sheet-image">
                        <img src="{% static 'img/logo.png' %}" width="359" height="359 ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}